
@{
    ViewBag.Title = "Badrequest";
}
<div class="container">
    <div class="main row">
        <div class="col-main col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="std">
                <div class="page-title">
                    <h1>Whoops, our bad...</h1>
                </div>
                <dl>
                    <dt>The page you requested was not found, and we have a fine guess why.</dt>
                    <dd>
                        <ul class="disc">
                            <li>If you typed the URL directly, please make sure the spelling is correct.</li>
                            <li>If you clicked on a link to get here, the link is outdated.</li>
                        </ul>
                    </dd>
                </dl><dl>
                    <dt>What can you do?</dt>
                    <dd>Have no fear, help is near! There are many ways you can get back on track with Magento Store.</dd>
                    <dd>
                        <ul class="disc">
                            <li><a onclick="history.go(-1); return false;" href="#">Go back</a> to the previous page.</li>
                            <li>Use the search bar at the top of the page to search for your products.</li>
                            <li>Follow these links to get you back on track!<br><a href="/">Store Home</a></li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

