
@{
    ViewBag.Title = "FAQ";
}
<div class="main-container col1-layout">
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcrumb-wrapper">
                        <ul class="breadcrumb">
                            <li class="home">
                                <a href="/" title="Quay lại trang chủ">
                                    <span class="fa fa-home"></span>
                                </a>
                            </li>
                            <li class="cms_page">
                                <a>Câu hỏi thường gặp</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-top">
    </div>
    <div class="container">
        <div class="main row">
            <div class="col-main col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page-title">
                    <h1>CÂU HỎI THƯỜNG GẶP</h1>
                </div>
                <div class="std">
                    <p style="text-align: justify;"><span style="font-size: medium;"><b>H: Hệ thống của SHOME mở và đóng cửa lúc mấy giờ?</b></span></p>
                    <p style="text-align: justify;"><span style="font-size: medium;">Đ: Tất cả các chi nhánh đều mở cửa từ 8 giờ sáng đến 9 giờ tối; từ Thứ 2 đến Chủ Nhật hàng tuần (Ngoại trừ SHOME Savico mở cửa từ 9 giờ sáng đến10 giờ tối).</span></p>
                    <p style="text-align: justify;"><span style="font-size: medium;"><b>H: Làm sao để tìm chi nhánh gần nhà nhất?</b></span></p>
                    <p style="text-align: justify;"><span style="font-size: medium;"><b>H: Vì sao sản phẩm thường hay hết hàng?</b></span></p>
                    <p style="text-align: justify;"><span style="font-size: medium;">Đ: Chúng tôi luôn cố gắng duy trì số lượng hàng hóa có trong catalogue ở mức cao nhất. Tuy nhiên, số lượng đó còn tùy theo sức bán của một mặt hàng hoặc quá trình cung cấp hàng có bị trì hoãn hay không. Thông tin về lô hàng mới của những sản phẩm hết hàng luôn được cập nhật liên tục. Sản phẩm của SHOME được sản xuất ở khắp nơi trên thế giới và có nhiều trường hợp sẽ ảnh hưởng trực tiếp đến quá trình tiếp nhận hàng hóa.&nbsp;</span></p>
                    <p style="text-align: justify;"><span style="font-size: medium;"><b>H: Tôi có thể thanh toán trực tuyến rồi nhận hàng trực tiếp tại cửa hàng hay không?</b></span></p>
                    <p style="text-align: justify;"><span style="font-size: medium;">Đ: Hiện tại chúng tôi chưa hỗ trợ hình thức mua sắm này.</span></p>
                    <p style="text-align: justify;"><span style="font-size: medium;"><b>H:&nbsp; Tôi có thể đặt hàng trực tuyến rồi nhận hàng trực tiếp tại cửa hàng hay không?</b></span></p>
                    <p style="text-align: justify;"><span style="font-size: medium;">Đ: Hiện tại chúng tôi chưa hỗ trợ hình thức mua sắm này. Tất cả sản phẩm của đơn giao hàng trực tuyến sẽ được chuyển trực tiếp từ Kho đến nhà của bạn nên không thể nhận sản phẩm đã đặt trực tuyến tại cửa hàng.</span></p>
                    <p style="text-align: justify;">&nbsp;</p>
                    <p style="text-align: justify;"><span style="font-size: large; color: #c51230;"><b>DỊCH VỤ GIAO HÀNG:</b></span></p>
                    <p style="text-align: justify;"><span style="font-size: medium;"><b>H: SHOME có dịch vụ giao hàng không?</b></span></p>
                    <p style="text-align: justify;"><span style="font-size: medium;">Đ: SHOME chúng tôi có dịch vụ giao hàng tận nhà hoặc nơi làm việc.</span></p>
                    <p style="text-align: justify;"><span style="font-size: medium;"><b>H: Làm sao để liên lạc được nhân viên đang thực hiện giao hàng cho tôi?</b></span></p>
                    <p style="text-align: justify;"><span style="font-size: medium;">Đ: Bạn có thể gọi vào số điện thoại của đội ngũ đang giao đơn hàng cho bạn được cung cấp trên trang xác nhận mua hàng.</span></p>
                    <p style="text-align: justify;"><span style="font-size: medium;"><b>H: Hàng sau khi giao bị thiếu hoặc hỏng hóc. Tôi nên làm gì?</b></span></p>
                    <p style="text-align: justify;"><span style="font-size: medium;">Đ: Xin gọi Trung tâm CSKH của SHOME vào số <strong>1900 636476</strong> để giải quyết thắc mắc về đơn hàng.</span></p>
                    <p style="text-align: justify;"><span style="font-size: medium;"><b>H: Hàng được giao bị thiếu mất vài bộ phận thì phải làm sao?</b></span></p>
                    <p style="text-align: justify;"><span style="font-size: medium;">Đ: Đầu tiên xin kiểm tra kỹ lại các kiện hàng một lần nữa. Một số mặt hàng được chia thành nhiều kiện. Số kiện được ghi rõ trên thùng, nhãn hàng. Nếu mất kiện, hãy đến quầy thu ngân của chi nhánh đã mua hàng kèm theo hóa đơn gốc.</span></p>
                    <p style="text-align: justify;"><span style="font-size: medium;">Nếu hàng hóa bên trong kiện bị thiếu, hãy đến quầy thu ngân của chi nhánh đã mua hàng kèm theo hóa đơn gốc và tờ hướng dẫn lắp ráp để đối chiếu.</span></p>
                    <p style="text-align: justify;"><span style="font-size: medium;">Đối với đồ gia dụng bị thiếu bộ phận, xin cung cấp số serial của sản phẩm.</span></p>
                    <p style="text-align: justify;">&nbsp;</p>
                    <p style="text-align: justify;"><span style="font-size: large; color: #c51230;"><b>CÁC DỊCH VỤ KHÁC CỦA SHOME:</b></span></p>
                    <p style="text-align: justify;"><span style="font-size: medium;"><b>H: SHOME có dịch vụ lắp ráp hàng tại nhà không?</b></span></p>
                    <p style="text-align: justify;"><span style="font-size: medium;">Đ: Các nhân viên kỹ thuật sẽ đến nhà bạn để lắp ráp hàng. Họ sẽ lắp ráp thành phẩm và bố trí ở nơi bạn muốn.</span></p>
                    <p style="text-align: justify;"><span style="font-size: medium;"><b>H: Nếu như có sự cố xảy ra khi nhân viên kỹ thuật đang lắp hàng tại nhà thì tôi nên làm gì?</b></span></p>
                    <p style="text-align: justify;"><span style="font-size: medium;">Đ: Nếu trong quá trình lắp ráp có sự cố, xin gọi Trung tâm CSKH của SHOME vào số <strong>1900 636476</strong> để được đề xuất hướng giải quyết. Khi gọi xin lưu ý giữ hóa đơn và số hóa đơn để nhân viên tra cứu.</span></p>
                    <p style="text-align: justify;"><span style="font-size: medium;"><b>H: SHOME có dịch vụ thiết kế nội thất không?</b></span></p>
                    <p style="text-align: justify;"><span style="font-size: medium;">Đ: Chúng tôi có dịch vụ thiết kế nội thất. Để biết thêm chi tiết hãy gọi số Hotline của Trung tâm tư vấn thiết kế: 0906 960 858.</span></p>
                    <p style="text-align: justify;"><span style="font-size: medium;"><b>H: SHOME có dịch vụ khoan lắp và sơn theo yêu cầu không?</b></span></p>
                    <p style="text-align: justify;"><span style="font-size: medium;">Đ: Nhân viên kỹ thuật của chúng tôi không thể tự ý quyết định khoan hoặc sơn bất cứ thứ gì trong suốt quá trình làm việc tại nhà khách. Nếu bạn cần hỗ trợ khoan hoặc sơn tại nhà, hãy gọi vào số CSKH của chúng tôi. Nhân viên sẽ hướng dẫn tận tình và tìm giải pháp phù hợp.</span></p>
                    <p style="text-align: justify;">&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-bottom">
    </div>
</div>

