<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi" lang="vi">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Shome |  Siêu thị Nội thất &amp; Trang trí Shome</title>
    <meta name="description" content="Hãy đến với siêu thị nội thất Shome để tìm kiếm những sản phẩm nội thất cho phòng khách, phòng ngủ, phòng ăn, nhà bếp, nhà tắm đến phòng hoc và làm việc." />
    <meta name="keywords" content="nội thất Shome, nội thất, trang trí nội thất, noi that, trang tri noi that, siêu thị nội thất, nội thất phòng ngủ, nội thất phòng khách, nội thất bếp, sieu thi noi that" />
    <meta name="robots" content="INDEX,FOLLOW" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" href="~/media/favicon/default/favicon_1_.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/media/favicon/default/favicon_1_.ico" type="image/x-icon" />
    <link href="~/font-awesome/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/media/css_secure/a128a7167c64f5a712150b71f7cf71a3.css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/media/css_secure/f82d2130b692727fba6ade9cd5a84d3b.css" media="print" />
    <script type="text/javascript" src="~/media/js/c6732d62162f0b7121d125f2f7494701.js"></script>
    <link href="http://uma.vn/vi/blog/rss/index/store_id/2/" title="Blog" rel="alternate" type="application/rss+xml" />
    <!--[if lt IE 7]>
    <script type="text/javascript" src="media/js/a1b929cc4dcd76025b6908c0285983e0.js"></script>
    <![endif]-->
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Shome Furniture & Decoration | Siêu thị Nội thất & Trang trí Shome" />
    <meta property="og:image" content="~/media/meta_image/" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="/vi/" />
    <meta property="og:site_name" content="Shome Furniture & Decoration" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Shome Furniture & Decoration | Siêu thị Nội thất & Trang trí Shome" />
    <meta name="twitter:image" content="~/media/meta_image/" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:url" content="/vi/" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
    </script>
    <script type="text/javascript" src="~/js/ematic/ematix.min.js"></script>
</head>
<body>
    <header class="header-container">
        <div id="sticky-wrapper" class="sticky-wrapper" style="height: 0px;">
        </div>

        <div class="middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- logo -->
                        <div class="text-center">
                            <a class="logo" href="/" style="display: inline-block;float:left">
                                <img src="/media/LogoWebsite/LogoShome_Ver3.jpg" alt="Shome Design" class="img-responsive" />
                            </a>
                            <label class="webName hidden-xs" style="display: inline-block;float:left;margin-top: 30px">Siêu thị nội thất và trang trí</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="main-container col1-layout">
        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    </div>
                </div>
            </div>
        </div>
        <div class="container-top">
        </div>
        <div class="container">
            <div class="main row">
                <div class="opc" id="checkoutSteps">
                    <div class="steps-heading" style="width:100%">
                        <div data-step="opc-login" class="title allow Login">
                            <span>Đăng nhập</span>
                        </div>
                        <div data-step="opc-billing" class="title infor-shipping">
                            <span>Thông tin giao hàng</span>
                        </div>
                        <div data-step="opc-payment" class="title payment">
                            <span>Thanh toán</span>
                        </div>
                        <div data-step="opc-review" class="title complete">
                            <span>Xác nhận</span>
                        </div>
                    </div>
                    <div class="steps-content">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>