@model IEnumerable<HTML_UMA.Models.Menu>
@{
    Layout = null;
}
<div id="cssmenu" class="two-level">
    <ul>
        @foreach (var item in Model)
        {
            <li class="has-sub" data-id="@item.Menu_ID">
                <a class="text" href="@Url.Action("CategoryProduct","Product", new { Menu_ID = item.Menu_ID})">@item.Name</a>
                @Html.Action("childrentleft", "Menu", new { parent_id = item.Menu_ID })
            </li>
        }
    </ul>   
</div>




