
@{
    ViewBag.Title = "About";
}
<div class="cms-about-us">
    <div class="about-us about-uma">
        <div class="container">
            <div class="col-md-12">
                <div class="wrapper">
                    <h3 class="page-title text-uppercase">Shome VIET NAM</h3>
                    <div class="contents">
                        <p class="text text-center">
                            Công ty TNHH MTV Sản xuất và cung cấp nội thất Việt Tây Âu (gọi tắt là Nội Thất Shome Vietnam) được thành lập từ tháng 11 năm 2013. Trải qua 5 năm hoạt động, Nội Thất Shome Vietnam đã tạo được vị trí nhất định trong ngành sản xuất nội thất ở thị trường Đà Nẵng nói riêng cũng như thị trường Miền Trung nói chung.
                        </p>
                        <br />
                        <p class="text text-center">
                            Phương châm hoạt động của nội thất Shome Vietnam là đặt chất lượng sản phẩm lên hàng đầu, đón đầu các xu hướng mới và chế độ bảo hành sản phẩm sau bán luôn được ưu tiên. Với đội ngũ nhân viên và kiến trúc sư tốt về chuyên môn, luôn sáng tạo và dày dạn kinh nghiệm kết hợp với các trang thiết bị máy móc hiện đại, nội thất Shome Vietnam đã tạo ra được nhiều sản phẩm đẹp và chất lượng phục vụ cho nhiều đối tượng Khách hàng. 
                        </p>
                        <br />
                        <p class="text text-center" >
                            Sản phẩm của công ty:
                            Sofa, bàn nước, ghế đơn, bộ bàn ghế ăn, giường ngủ, tủ kệ trang trí, tủ bếp, bàn làm việc, bàn trang điểm, tranh ảnh, đèn, thảm trang trí, bình hoa trang trí và nhiều phụ kiện trang trí nhà xinh xắn.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-us mission-vision-value">
        <img src="https://uma.vn/skin/frontend/uma/default/images/cms/about-us/blur-big-bg.jpg" width="100%"/>
    </div>
</div>

